
@model IEnumerable<Project.Models.Movie>

@{ 
    ViewData["Title"] = "Search"; 
}

<div class="container">
    <div class="row">
        <div class="input-field col s12">
            <div class="card">
                <div class="card-content">
                    <form asp-action="Search" method="get">
                        <div class="row center-align">
                            <h5>Find A Movie To Watch!</h5>
                            <h6>(Enter at least one field)</h6>
                        </div>
                        <div class="row">
                            <div class="col m6">
                                <input placeholder="Movie Name" name="movieName" type="text" class="validate">
                            </div>
                            <div class="col m6">
                                <input placeholder="Director Name" name="directorName" type="text" class="validate">
                            </div>
                            <div class="input-field col m4">
                                <select name="genre">
                                    <option value="" disabled selected>Choose your option</option>
                                    @foreach (var item in ViewBag.genreDict.Values)
                                    {<option value="@item">@item</option>}
                                </select>
                                <label>Genre</label>
                            </div>
                            <div class="col m4 right-align">
                                <button class="btn waves-effect waves-light" type="submit" value="Search">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="row s12 center-align">
            <h4>Following are available to watch </h4>
        </div>
        @foreach (var item in Model)
        {
    <div class="card">
        <div class="column card-content">
            <div class="row">
                <div class="col-md-2">
                    <div class="row m12">
                        <img class="" width="150" height="100%" src=@Html.DisplayFor(modelItem => item.imageURL) />
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="row m12">
                            <span class="card-title">
                                <p>
                                    <a href="@item.URL"><b><i>@Html.DisplayFor(modelItem => item.Title)</i></b></a>
                                    &emsp; <div class="chip">@Html.DisplayFor(modelItem => item.ImdbRating)</div>
                                    @foreach (var s in item.Genres)
                                    {<div class="chip">@Html.DisplayFor(modelItem => s.Genre.GenreName)</div>}
                                </p>
                            </span>      
                        </div>
                        <div class="row m12">
                            @Html.DisplayFor(modelItem => item.Description)
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="btn-group-vertical card-action">
                            <a asp-action="Details" asp-route-id="@item.ImdbId" class="btn waves-effect waves-light">Details</a><br />
                            <a asp-action="Edit" asp-route-id="@item.ImdbId" class="btn waves-effect waves-light">Update</a><br />
                            <a asp-action="Delete" asp-route-id="@item.ImdbId" class="btn waves-effect waves-light">Delete</a>
                    </div>
                </div>
            </div>
            </div>
        </div>
            }
        </div>
    </div> 

                    <style>
                        body {
                            background-color: white;
                        }

                        .search-result-categories > li > a {
                            color: #b6b6b6;
                            font-weight: 400
                        }

                            .search-result-categories > li > a:hover {
                                background-color: #ddd;
                                color: #555
                            }

                            .search-result-categories > li > a > .glyphicon {
                                margin-right: 5px
                            }

                            .search-result-categories > li > a > .badge {
                                float: right
                            }

                        .search-results-count {
                            margin-top: 10px
                        }

                        .search-result-item {
                            padding: 20px;
                            background-color: #fff;
                            border-radius: 4px
                        }

                            .search-result-item:after,
                            .search-result-item:before {
                                content: " ";
                                display: table
                            }

                            .search-result-item:after {
                                clear: both
                            }

                            .search-result-item .image-link {
                                display: block;
                                overflow: hidden;
                                border-top-left-radius: 4px;
                                border-bottom-left-radius: 4px
                            }

                            .search-result-item .image {
                                max-width: 100%
                            }

                            .search-result-item .info {
                                margin-top: 2px;
                                font-size: 12px;
                                color: #999
                            }

                            .search-result-item .description {
                                font-size: 13px
                            }

                            .search-result-item + .search-result-item {
                                margin-top: 20px
                            }

                        .search-result-item-heading {
                            font-weight: 400
                        }

                            .search-result-item-heading > a {
                                color: #555
                            }
                    </style>
